:root {
    /* Colores Base */
    --color-black: #000000;
    --color-white: #ffffff;

    /* Modo Claro (Blue Team) */
    --color-bg-light: #f0f8ff;
    --color-text-light: #00274d;
    --color-primary-light: #007bff;
    --color-secondary-light: #0056b3;
    
    /* Modo Oscuro (Red Team) */
    --color-bg-dark: #111;
    --color-text-dark: #ff4d4d;
    --color-primary-dark: #cc3333;
    --color-secondary-dark: #a12d2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: var(--color-white);
}

header {
    background-color: var(--color-black);
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
    flex-shrink: initial;
}

.first {
    display: flex;
    align-items: center;
    gap: 50px;

    list-style: none;
}

.hleft {
    list-style: none;
}

.hleft img {
    width: 80px;
    height: 80px;
}

.hright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
}

.hright li{
    list-style: none;
}

.hright a {
    text-decoration: none;
    color: var(--color-bg-light);
}

a:hover {
    cursor: none;
}

/*Sobre Mi*/

.name {
    height: 800px;
}

.name img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: block;
    margin: 10px auto 0 auto;
}

.name h3 {
    font-size: 20px;
    color: var(--color-bg-dark);
    text-align: center;
    margin-top: 20px;
}

.name h1 {
    font-size: 80px;
    color: var(--color-primary-light);
    text-align: center;
}

.name h2 {
    font-size: 60px;
    color: var(--color-black);
    text-align: center;
}

